* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #214CCE;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    background-color: #839DEB;
    height: 31rem;
    width: 44rem;
    border-radius: 6%;
    box-shadow: 0.3125rem 0.5rem 0.125rem #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 12.5rem;
}

.input {
    display: flex;
    flex-direction: column;
    width: 28rem;
}

input {
    height: 4rem;
    margin-top: 1rem;
    background-color: #13008B;
    color: white;
    border-radius: 0.625rem;
    padding-left: 0.625rem;
}

::placeholder {
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 22rem;
    padding-top: 0.625rem;
    align-items: center;
}

h2 {
    color: white;
}

.login {
    background-color: #00BBFF;
    width: 6.25rem;
    height: 3.125rem;
    border-radius: 1.25rem;
    border-color: white;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}